# Core AI & Logic
torch
huggingface_hub
faster-whisper

# NVIDIA CUDA 12 Support (The "Engine" for GPU speed)
nvidia-cublas-cu12
nvidia-cudnn-cu12==9.*

# Audio Processing
librosa
soundfile
soxr
audioread
pooch
audioop-lts

# Legacy Support (Python 3.13+)
standard-aifc
standard-chunk
standard-sunau